body {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    color:rgb(180, 123, 53)
}

form {
    width: 80%;
    margin: 0 auto; /* 1. По вертикали; 2. По горизонтали */
    max-width: 400px;
    padding: 20px; /* Отступы со всех 4 сторон */
    border: 1px solid #ccc;
    border-radius: 5px;
    /* Настройка тени:
        1. По оси Х (положительное значение - вправо, отрицательное - влево)
        2. По оси Y (положительное значение - вниз, отрицательное - вверх)
        3. Размытие тени (как быстро тень сливается с фоном);
        4. Цвет тени.
    */
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

div{
    text-align: center;
}
.button-container{
    text-align: center;
    
}

button{
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

label{
    color:rgb(79, 114, 114) 
}

input{
    border-radius:5px;
    color:blue
}
select{
    background-color: rgb(218, 218, 230);

    border-radius:5px;
    color: green


}

input::placeholder{
    background-color: rgb(218, 218, 230);
    color:green
}